$white: #fafafa;

$smoky: #bab6cb;
$gray: #f1f0f4;
$gray-light: #f2f2f2;

$blue: #6c6ff5;
$blue-dark: #314d5d;

$green: #46b29d;

$orange: #ff7300;

$crash: #d83232;
$red: #e53535;

$black: #323234;
$light-black: #171717;
$black-dark: #282829;
