@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans.eot);
  src: url(../fonts/OpenSans.eot?#iefix) format("embedded-opentype"),
       url(../fonts/OpenSans.woff) format("woff"),
       url(../fonts/OpenSans.woff2) format("woff2"),
       url(../fonts/OpenSans.ttf) format("truetype");
  font-style: normal;
}
