@mixin transform($x, $y, $rotate) {
  transform: translateX($x) translateY($y) rotate($rotate);
}

@mixin animation-when-event($time, $time_delay) {
  transition: all $time ease;
  transition-delay: $time_delay;
}

@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur 0px $color;
}

@mixin bg-glitch-smoky($t) {
  background: repeating-linear-gradient(
    0deg,
    $smoky 0px,
    $smoky 1px,
    transparent 2px,
    transparent $t
  );
}

@mixin bg-glitch-red($t) {
  background: repeating-linear-gradient(
    0deg,
    $red 0px,
    $red 1px,
    transparent 1px,
    transparent $t
  );
}

@mixin clip-path($tlx, $tly, $trx, $try, $brx, $bry, $blx, $bly) {
  clip-path: polygon($tlx $tly, $trx $try, $brx $bry, $blx $bly);
}
