@mixin transform($x, $y, $rotate) {
  transform: translateX($x) translateY($y) rotate($rotate);
}

@mixin animation-when-event($time, $time_delay) {
  transition: all $time ease;
  transition-delay: $time_delay;
}

@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur 0px $color;
}
