@import "reset";
@import "fonts";

/*===========================

 Primary

============================*/
*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  overflow: hidden;
}

body {
  font-family: "OpenSans", sans-serif;
  color: #ffffff;
  background-color: #000000;
}
