<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="description" content="I'm a GoodCrash, I'm a indie games developer")
  meta(name="author" content="Aleksandr Lipovskiy")

  meta(property="og:site_name" content="goodcrash")
  meta(property="og:url" content="https://goodcrash.games")
  meta(property="og:title" content="GoodCrash | Indie games developer")
  meta(property="og:description" content="Hello! I'm a GoodCrash, I'm a indie games developer")
  meta(property="og:image" content="https://goodcrash.games/img/goodcrash.png")
  meta(property="og:type" content="website")

  title GoodCrash | Indie game developer
body
  