doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="I'm a GoodCrash, I'm a indie games developer")
    meta(name="author" content="Aleksandr Lipovskiy")

    meta(property="og:site_name" content="goodcrash")
    meta(property="og:url" content="https://goodcrash.games")
    meta(property="og:title" content="GoodCrash | Indie games developer")
    meta(property="og:description" content="Hello! I'm a GoodCrash, I'm a indie games developer")
    meta(property="og:image" content="https://goodcrash.games/img/good-crash.png")
    meta(property="og:type" content="website")

    title GoodCrash | Indie games developer
    
  body(id="body")
    header
      div(class="nav-trigger")
        - var countPoints = new Array(9);
        each i in countPoints
          div(class="nav-trigger-point")

      div(class="site-title") goodcrash.games

      div(class="header-tools")
        div(class="main-chat")
          div(class="main-chat-icon")
          div(class="main-chat-count-new") 0

        div(class="lang-select-links")
          div(class="lang-selectors ru-lang left") ru
          div(class="lang-selectors en-lang") en

        div(class="volume-trigger")

        div(class="data-time") --:-- --.--.----

    main(id="main")
      div(class="nav-folders")
        div(class="my-games nav-folder" name="games")
          div(class="my-games-icon")
          div(class="my-games-title" name="i18n" data-i18n="games")
        div(class="my-garbige nav-folder" name="garbage")
          div(class="my-garbige-icon")
          div(class="my-garbige-title" name="i18n" data-i18n="garbage")

      div(class="i-say-hello")
        span(class="i-say-hello-hello" name="i18n" data-i18n="main hello" load="false")
        span(class="i-say-hello-my-name" name="i18n" data-i18n="main aleks" load="false")
        span(class="i-say-hello-my-nicname" name="i18n" data-i18n="main goodcrash" load="false")
        span(class="i-say-hello-and-im" name="i18n" data-i18n="main i" load="false")
        span(class="i-say-hello-indie" name="i18n" data-i18n="main indie" load="false")
        span(class="i-say-hello-developer" name="i18n" data-i18n="main dev" load="false")
        span(class="cursor") |

    div(class="pages-content")

    nav
      div(class="main-menu")
        ul
          li
            a(href="games" class="nav-link" name="i18n" data-i18n="games")
          li
            a(href="about" class="nav-link" name="i18n" data-i18n="about")
          li
            a(href="garbage" class="nav-link" name="i18n" data-i18n="garbage")

      div(class="main-contacts")
        div(class="main-contacts-title" name="i18n" data-i18n="my-main")
        div(class="contact-mail")
          span aleksandr@goodcrash.games

        div(class="main-contacts-title" name="i18n" data-i18n="my-social")
        div(class="contact-social")
          span(class="social-icons vk")
          span(class="social-icons facebook")
          span(class="social-icons twitter")
          span(class="social-icons instagram")
          span(class="social-icons youtube")

    footer
      div(class="site-logo")
      div(class="my-contact") aleksandr@goodcrash.games
        div(class="im-in-social")
          div(class="facebook")
          div(class="vk")
          div(class="twitter")
          div(class="instagram")
          div(class="youtube")

    div(class="messenger")
      div(class="messenger-header")
        div(class="messenger-header-title" name="i18n" data-i18n="messages") Messages
        div(class="messenger-header-close")
          div(class="messenger-header-close-icon")

      div(class="messenger-body")
        div(class="messenger-message")
          div(class="messenger-message-ctx")
            div(class="messenger-message-author") GoodCrash
            div(class="messenger-message-body")

      div(class="messenger-send")
        div(class="messenger-send-input")
          textarea(id="messenger" name="messenger")

      div(class="messenger-send-btn" name="i18n" data-i18n="send") Send

    div(class="preloader")
      div(class="preloader-block")
        div(class="preload-icon")
          div(class="red-fon")
          div(class="left-eyes")
          div(class="right-eyes")
          div(class="tongue")
          div(class="tongue-bg")
          div(class="mouth")
        span(class="preloader-ctx" data-text="")
        span(class="preloader-cursor") |
